.accordion
{
	position:relative;
	overflow:hidden;
}


.accordion .panel
{
	background-image:url(accordion-assets/images/preloader.gif);
	background-repeat:no-repeat;
	background-position:center center;
	position:absolute;
	overflow:hidden;
	background-color:#FFF;
	background-repeat:no-repeat;
}


.accordion .shadow-horizontal
{
	background:url(accordion-assets/images/shadow.png) repeat-Y;
	position:absolute;
	right:0px;
	width:25px;
	height:100%;
}


.accordion .shadow-vertical
{
	background:url(accordion-assets/images/shadow_v.png) repeat-x;
	position:absolute;
	bottom:0px;
	width:100%;
	height:25px;
}


.accordion .preloader
{
	background:url(accordion-assets/images/preloader2.gif) no-repeat;
	width:62px;
	height:14px;
	position:absolute;
	z-index:15;
}


.accordion .caption
{
	overflow:hidden;
	position:absolute;
	z-index:20;
}


.accordion .caption-background
{
	background:transparent url(accordion-assets/images/captionBg.png);
	background:rgba(0,0,0,0.5);
	position:absolute;
	width:100%;
	height:100%;
}


.accordion .caption p
{
	color:#FFF;
	margin:0px;
	padding:10px;
}


.accordion .caption p a
{
	color:#FFF;
}