body {
	font: 75% "proxima-nova", "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	background: #fff url('../img/bg.jpg') repeat;
	padding: 0;
	margin: 0;
}

#accessibility, p.published, p.tags, .divider, p.comments_invite, span.fn, .author, #front h3.entry-title, #printing h3.entry-title, #gallery h3.entry-title, #contact-us h3.entry-title, fieldset legend {
	display: none;
}

a, .ui-accordion-header:focus {
	outline: none;
	border: none;
}

#header {
	height: 168px;
	background: #fff url('../img/bg-header.jpg') repeat;
	box-shadow: 0 0 62px #818181;
	position: relative;
	border-bottom: 3px solid #fff;
}

#header #wrapper {
	background: #fff url('../img/bg-header.jpg') repeat;
	height: 168px;
/*	max-width: 1224px;
	min-width: 1060px;*/
	width: 1200px;
	margin: auto;
}

a#logo {
	display: block;
	width: 350px;
	height: 151px;
	background: transparent url('../img/logo.png') no-repeat;
	float: left;
	margin: 10px 0 0 40px;
	text-indent: -5000px;
}

ul#topnav {
	margin: 100px 0 0 0;
	list-style-type: none;
	float: right;
	padding: 0;
}

ul#topnav li {
	float: left;
	margin: 0 40px 0 0;
	text-transform: uppercase;
	font-size: 1.9em;
}

ul#topnav li a {
	font-family: "bree-serif", "Lucida Grande", "Arial", "MS Trebuchet", sans-serif;
	text-decoration: none;
	color: #fff;
	padding: 5px;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

ul#topnav li a:hover {
	color: #ff9c01;
	transition: color .2s ease-out;
	-moz-transition: color .2s ease-out;
	-webkit-transition: color .2s ease-out;
	-o-transition: color .2s ease-out;
/*	background-color: #f1f1f1;
	transition: background-color .7s ease-out;
	-moz-transition: background-color .7s ease-out;
	-webkit-transition: background-color .7s ease-out;
	-o-transition: background-color .7s ease-out;*/
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

#content {
	margin: 3px auto;
	width: 900px;
	padding: 25px;
	border-left: 1px solid #b1b1b1;
	border-right: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
	clear: both;
}

#banner {
	margin: 20px 0 0 0;
	width: 900px;
	height: 250px;
	background-color: #b1b1b1;
	position: relative;
}


.bannerAccordion
{
	width: 900px;
	margin:0px auto;
	list-style:none;
	padding:0px;

}


.bannerAccordion img, .bannerAccordion .caption
{
	position:absolute;
	left:-9999px;
}



.classic-accordion .panel
{
	background-image:url(/img/preloader.gif);
	background-repeat:no-repeat;
	background-position:center center;
	position:absolute;
	overflow:hidden;
	background-color:#FFF;
	background-repeat:no-repeat;
}


.classic-accordion .shadow-horizontal
{
	background:url(/img/shadow.png) repeat-Y;
	position:absolute;
	right:0px;
	width:25px;
	height:100%;
}


.classic-accordion .shadow-vertical
{
	background:url(/img/shadow_v.png) repeat-x;
	position:absolute;
	bottom:0px;
	width:100%;
	height:25px;
}


.classic-accordion .preloader
{
	background:url(/img/preloader2.gif) no-repeat;
	width:62px;
	height:14px;
	position:absolute;
	z-index:15;
}


.classic-accordion .caption
{
	overflow:hidden;
	position:absolute;
	z-index:20;
}


.classic-accordion .caption-background
{

	background:rgba(0,0,0,0.5);
	position:absolute;
	width:100%;
	height:100%;
}


.classic-accordion .caption p
{
	color:#FFF;
	margin:0px;
	padding:10px;
}


.classic-accordion .caption p a
{
	color:#FFF;
}










#navigation
{
	width:300px;
	height:25px;
	margin:60px auto 0px;
}


#navigation a
{
	background-color:#F1F1F1;
	text-decoration:none;
	color:#666;
	padding:5px 10px;
	margin:0px 5px;
	border:#CCC solid 1px;
}

#front .hfeed {
	width: 400px;
	margin: 25px 30px 0 0;
	float: left;
}

#front #content .hfeed p {
	font-size: 1.2em;
	color: #333;
}

#front #content .hfeed p strong {
	color: #8a7757;
}

#front #content .hfeed p#testimonial {
	font-size: 2.2em;
	font-family: "bree-serif", "Lucida Grande", Arial, "MS Trebuchet", sans-serif;
	color: #503414;
	letter-spacing: -1px;
}

.hfeed {
	width: 900px;
}

#accordion {
	display: block;
	width: 470px;
	margin: 35px 0 25px 0;
	float: right;

}

#accordion #shirts {
	margin: 0;
	padding: 0;
	height: 100px;
	background: #fff url('../img/accordion-tshirts.jpg') no-repeat;
}

#accordion #paper {
	margin: 0;
	padding: 0;
	height: 100px;
	background: #fff url('../img/accordion-paper.jpg') no-repeat;
}

#accordion #advice {
	margin: 0;
	padding: 0;
	height: 100px;
	background-color: #000;
	background: #fff url('../img/accordion-advice.jpg') no-repeat;
}

#accordion #quote {
	margin: 0;
	padding: 0;
	height: 110px;
	background-color: #000;
	background: #fff url('../img/accordion-quote.jpg') no-repeat;
}

#accordion h3 {
	font-size: 1.4em;
	font-family: "bree-serif", Arial, "MS Trebuchet", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	background: #fff url('../img/bg-header.jpg') repeat;
	padding: 8px;
	margin: 0;

	border-top: 1px solid #fff;
	
}

#accordion h3 a {
	color: #fff;
	text-decoration: none;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

#accordion div {
	border-left: 1px solid #b1b1b1;
	border-right: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
	border-top: 3px solid #fff;
	padding: 8px;
	margin: -5px 0 0 0;
}

#accordion div p {
	font-family: "bree-serif",serif;
	font-style: italic;
	font-size: 1.2em;
	padding: 10px;
	margin: 0;
	color: #fff;
	text-shadow: 1px 1px 4px #000;
}

#accordion div a {
	text-decoration: none;
	font-weight: bold;
	color: #ff9c01;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
}

#accordion div a:hover {
	text-decoration: underline;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.10);
}

#twitter {
	margin: 0 0 0 0;
	width: 470px;
	float: right;
}

#gallery #slider-gallery {
	width:920px;
	margin-left:1px;
}

#gallery #slider-gallery .panel a {
	display: block;
	float: left;
	height: 100px;
	width: 100px;
	margin: 0px 14px 14px 0px;
}

#gallery .panel {
	height: 230px;
	margin-bottom: 40px;
}

#gallery #testimonials {
	width: 900px;
	clear:both;
	margin: 0 0 0 0;
	padding: 0;
	background-color: #edecec;
}

#gallery #testimonials ul {
	margin: 0;
	padding: 0;
	width: 900px;
}

#gallery #testimonials ul li {
	font-family: "lemonde-courrier",serif;
	font-style: italic;
	font-weight: 400;
	font-size: 1.6em;
	letter-spacing: -1px;
	display: block;
	width: 258px;
	color: #5b5b5b;
	float: left;
	margin: 0;
	padding:20px;
}

#gallery #testimonials ul li span {
	display: block;
	margin: 8px 0 0 0;
	text-transform: uppercase;
	font-size: .8em;
	color: #8a7757;
	font-family: "bree-serif", Arial, "MS Trebuchet", sans-serif;
	font-style: normal;
}

#printing .hfeed h1 {
	font-family: "bree-serif", "Lucida Grande" Arial, "MS Trebuchet", sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	margin: 20px 0 0 0;
	padding: 0;
}

#printing video {
	width: 640px;
	margin: 0 0 20px 130px;
	border: 2px solid #5b5b5b;
	box-shadow: 2px 2px 12px #bbbbbb;
}

#printing .hfeed ul {
	list-style-type: disc;
	margin: 20px 0 40px 0;
}

#printing .hfeed ul li {

	font-size: 1.2em;
}

#contact-us fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

#contact-us iframe {
	float: right;
	border: 1px solid black;
	margin: -126px 0 0 0;
}

#contact-us form {
	float: left;
	width: 426px;
}

#contact-us form textarea {
	width: 426px;
}

textarea {
	resize: none;
}

a {
	outline: none;
}

#contact-us .vcard {
	margin: 80px 0 0 0;
	font-size: 1.4em;
	border-bottom: 1px dashed #ddc8a7;
	width: 426px;
	padding-bottom: 30px;
}

#contact-us .tel, #contact-us .email {
	font-size: .9em;
}

#contact-us .adr {
	font-family: "bree-serif", "Lucida Grande", Arial, "MS Trebuchet", sans-serif;
	font-size: 1.4em;
	letter-spacing: -1px;
}

#links h3 {
	display: none;
}

#links #content .hfeed {
	position: relative;
	min-height: 300px;
}

#links ul.right {
	width: 250px;
	position: absolute;
	top: 30px;
	left: 600px;
}

#links ul.middle {
	width: 250px;
	position: absolute;
	top: 30px;
	left: 290px;
}

#links ul.left {
	width: 250px;
	position: absolute;
	top: 30px;
	left: -20px;
}

#links .entry-content h3 {
	font-family: "bree-serif", "Lucida Grande", Arial, "MS Trebuchet", sans-serif;
	font-size: 1.6em;
	letter-spacing: -1px;
}

#links .entry-content a {
	color: #666666;
	text-decoration: none;
	font-family: "bree-serif", "Lucida Grande", Arial, "MS Trebuchet", sans-serif;
	font-size: 1.4em;
}

#links .entry-content a:hover {
	color: #ff9c01;	
}

#footer {
	font-family: "bree-serif", "Lucida Grande", Arial, "MS Trebuchet", sans-serif;
	font-size: 1.7em;
	clear: both;
	margin: 40px auto;
	padding-bottom: 30px;
	width: 900px;
	text-align: center;
}

#footer a#brightstorm {
	text-decoration: none;
	font-size: .6em;
	color: #b1b1b1;
	letter-spacing: 2px;
}

#footer a#brightstorm:hover {
	color: #ff9c01;
}